/* Mixins */
@mixin separate($selector, $top: 0, $bottom: auto) {
    #{$selector} {
        position: relative;
    }
    #{$selector}:before {
        content: '';
        position: absolute;
        top: $top;
        left: 0;
        right: 0;
        bottom: $bottom;
        height: 2px;
        border-top: 1px solid rgba(102,102,102,0.2);
        background: rgba(255,255,255,0.4);
        @if $top == 50% {
            margin-top: -1px;
        }
        @if $bottom != auto {
            top: auto;
        }
    }
}

@mixin formElementGradient {
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 30%, rgba(0,0,0,0) 85%, rgba(0,0,0,.15) 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(255,255,255,.5)),
        color-stop(0.3, rgba(255,255,255,0)),
        color-stop(0.85, rgba(0,0,0,0)),
        color-stop(1, rgba(0,0,0,.15))
    );
    background-image: linear-gradient(top, rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 30%, rgba(0,0,0,0) 85%, rgba(0,0,0,.15) 100%);
}

@mixin greyTextShadow {
    text-shadow: 0 -1px rgba(0,0,0,.3);
}

@mixin arrow {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 14px;
        margin: -4px 0 0;
        width: 5px;
        height: 8px;
        background: url(../img/sprite.png) -5px -5px no-repeat;
    }
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
        &:after {
            background-image: url(../img/sprite@2.png);
            background-size: 368px 55px;
        }
    }
}

/* Variables */
$Proxima: Proxima, Arial, "Helvetica Neue", Helvetica, sans-serif;
$ProximaSemiBold: ProximaSemiBold, Arial, "Helvetica Neue", Helvetica, sans-serif;
$ProximaBold: ProximaBold, Arial, "Helvetica Neue", Helvetica, sans-serif;
$OpenSans: OpenSans, Arial, "Helvetica Neue", Helvetica, sans-serif;
$OpenSansSemiBold: OpenSansSemiBold, Arial, "Helvetica Neue", Helvetica, sans-serif;
$OpenSansBold: OpenSansBold, Arial, "Helvetica Neue", Helvetica, sans-serif;

/* Extends */
.textEllipsis {
    white-space: nowrap;;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Font-face */

@font-face {
    font-family: 'ProximaBold';
    src: url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaSemiBold';
    src: url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    background: url(../img/bg-body.jpg);
    height: 100%;
}
body {
    height: 100%;
    font: 12px/1.25 $Proxima;
    min-width: 320px;
    color: #333;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #0b5e9d;
    text-decoration: none;
}

img {
    vertical-align: top;
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        line-height: 0;
        content: "";
    }
    &:after {
        clear: both;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}


.title {
    margin: 0 0 4px;
    font-size: 16px;
    text-align: center;
    font-family: $ProximaSemiBold;
    &.grey {
        color: #999;
        text-transform: uppercase;
    }
    &.line .titleText {
        background: url(../img/bg-body.jpg);
        display: inline-block;
        padding: 0 10px;
        position: relative;
        z-index: 2;
    }
}
@include separate('.title.line', 50%);

p {
    margin: 0;
}

.form {
    margin: 0 -10px;
    padding: 0 25px;
}
.row {
    text-align: left;
    margin: 0 0 25px;
    font-family: $ProximaSemiBold;
    .labelForm {
        margin-top: -5px;
    }
}
.labelForm {
    font-size: 16px;
    display: block;
    margin: 0 0 2px;
}
.labelFormRequired {
    color: #cd3c3b;
}
.labelFormOptional {
    color: #b3b3b3;
}
.labelFormHasCheckbox {
    padding-left: 40px;
    font-size: 14px;
    display: block;
    min-height: 26px;
    .checkboxForm {
        margin-left: -40px;
        float: left;
    }
}
.textField,
.textArea,
.select,
.checkbox,
.datePicker {
    border: 1px solid #a5a3a2;
    border-bottom-color: #888582;
    background: rgba(255,255,255,.4);
    border-radius: 6px;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    margin: 0;
    font: 14px/48px $ProximaSemiBold;
    color: #000;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.15) inset;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.15) inset;
    -webkit-appearance: none;
}
.textField,
.textArea {
    font-size: 17px;
}
.textArea {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    line-height: 1.25;
    padding-top: 10px;
    padding-bottom: 10px;
}
.textField.blank,
.textArea.blank{
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    padding-left: 15px;
    padding-right: 15px;
}
.selectForm {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 8px;
        margin: -3px 0 0;
        width: 10px;
        height: 6px;
        background: url(../img/sprite.png) -15px -5px no-repeat;
    }
}
.select.updated, .datePicker.updated {
    color: #0b5e9d;
}
.select,
.datePicker {
    height: 32px;
    line-height: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    @include formElementGradient;
}
.datePicker {
    padding-right: 30px;
    position: relative;
    line-height: 31px;
    color: #333;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 8px;
        margin: -8px 0 0;
        width: 16px;
        height: 16px;
        background: url(../img/sprite.png) -196px -5px no-repeat;
    }
}
.selectForm.small .select {
    height: 25px;
    line-height: 23px;
    font-size: 12px;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}
.checkboxForm {
    display: inline-block;
    width: 26px;
    height: 26px;
    @include formElementGradient;
    border-radius: 6px;
}
.checkbox {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: url(../img/sprite.png) -9999px no-repeat;
    width: 26px;
    height: 26px;
    padding: 0;
    &:checked {
        background-position: -172px -2px;
    }
}
.searchForm {
    border: 1px solid #a5a3a2;
    background: rgba(255,255,255,.3);
    border-radius: 15px;
    height: 30px;
    margin: 0 -5px 10px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.15) inset;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15) inset;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 8px;
        margin: -7px 0 0;
        width: 15px;
        height: 16px;
        background: url(../img/sprite.png) -325px -5px no-repeat;
    }
}
.searchField {
    border: 0;
    background: none;
    -webkit-appearance: none;
    padding: 0 30px;
    margin: 0;
    width: 100%;
    font: 12px/30px $Proxima;
    color: #111010;
}
.searchFormClear {
    position: absolute;
    top: 50%;
    width: 18px;
    height: 18px;
    margin: -9px 0 0;
    right: 8px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/sprite.png) -344px -5px no-repeat;
}

.searchFormButton {
  position: absolute;
  top: 50%;
  width: 18px;
  height: 18px;
  margin: -9px 0 0;
  left: 8px;
  text-indent: -9999px;
  overflow: hidden; 
}

.checkboxesListItem {
    border-top: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-family: $ProximaBold;
    position: relative;
    &:first-child {
        border-top: 0;
    }
    &:last-child {
        border-bottom: 0;
    }
}
.checkboxesListLabel {
    display: block;
    padding: 11px 40px 7px 20px;
    @extend .textEllipsis;
}
.checkboxesListInput {
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-appearance: none;
    width: 16px;
    height: 17px;
    padding: 0;
    margin: 0;
    border: 0;
    margin: -9px 0 0;
    background: url(../img/sprite.png) -9999px no-repeat;
    &:checked {
        background-position: -154px -5px;
    }
    &:checked + .checkboxesListLabel {
        color: #0b5e9d;
    }
}

.radiosLine {
    display: table;
    width: 100%;
    table-layout: fixed;
    border: 1px solid #aaacb3;
    border-radius: 8px;
}
.radiosLineItem {
    display: table-cell;
    position: relative;
    &:first-child .radiosLineLabel {
        border: none;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    &:last-child .radiosLineLabel {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }
}
.radiosLineLabel {
    height: 40px;
    background-image: -webkit-linear-gradient(top, #f4f4f4 0%, #c4c4c4 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #f4f4f4),
        color-stop(1, #c4c4c4)
    );
    background-image: linear-gradient(top, #f4f4f4 0%, #c4c4c4 100%);
    display: block;
    border-left: 1px solid #aaacb3;
    text-align: center;
    color: #838483;
    font: 16px/42px $ProximaBold;
    text-shadow: 0 1px 1px #fff;
}
.radiosLineInput {
    position: absolute;
    width: 0;
    height: 0;
    -webkit-appearance: none;
    top: 0;
    left: 0;
    border: 0;
    &:checked + .radiosLineLabel {
        background-image: -webkit-linear-gradient(top, #154dba 0%, #3e9efd 100%);
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #154dba),
            color-stop(1, #3e9efd)
        );
        background-image: linear-gradient(top, #154dba 0%, #3e9efd 100%);
        color: #fff;
        text-shadow: 0 -1px 1px #666;
    }
}

.switcher {
    width: 68px;
    height: 30px;
    display: inline-block;
    position: relative;
    background: rgba(0,0,0,.07);
    border-radius: 16px;
    -webkit-box-shadow: 0 0 4px #999 inset;
    box-shadow: 0 0 4px #999 inset;
    input {
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        &:before {
            content: attr(data-off);
            color: #838483;
            font-size: 17px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 8px;
            line-height: 30px;
            font-weight: bold;
            width: 35px;
            text-align: center;
            color: #333;
        }
        &:after {
            content: '';
            position: absolute;
            top: 4px;
            left: 5px;
            width: 20px;
            height: 20px;
            border: 1px solid #fff;
            border-radius: 10px;
            background-image: -webkit-linear-gradient(top, #bababa 0%, #fff 60%);
            background-image: -webkit-gradient(
              linear,
              left top,
              left bottom,
              color-stop(0, #bababa),
              color-stop(0.6, #fff)
            );
            background-image: linear-gradient(top, #bababa 0%, #fff 60%);
            -webkit-box-shadow: 0 2px 1px #666;
            box-shadow: 0 2px 1px #666;
        }
        &:checked {
            background: none;
            &:before {
                content: attr(data-on);
                left: 5px;
                right: auto;
                color: #c33; 
            }
            &:after {
                left: auto;
                right: 5px;
            }
        }
    }
}

.hasError,
.blank.hasError {
    background: rgba(205,60,59,.4);
    border: 1px solid #cd3c3b;
    color: #cd3c3b;
    &::-webkit-input-placeholder {
        color: #cd3c3b;
    }
    &:-moz-placeholder {
        color: #cd3c3b;
    }
    &::-moz-placeholder {
        color: #cd3c3b;
    }
    &:-ms-input-placeholder {
        color: #cd3c3b;
    }
}
.textError {
    font-size: 12px;
    color: #cd3c3b;
}
.roundedBoxRow .textError {
    margin: 6px 15px 5px;
}
.row .textError {
    margin: 5px 0 -15px;
    min-height: 18px;
}

::-webkit-input-placeholder {
   color: #808080;
   font-family: $Proxima;
}
:-moz-placeholder {
   color: #808080;
   font-family: $Proxima;
}
::-moz-placeholder {
   color: #808080;
   font-family: $Proxima;
}
:-ms-input-placeholder {  
   color: #808080;
   font-family: $Proxima;
}

.btn {
    display: inline-block;
    height: 45px;
    border: 1px solid #72171d;
    background: url(../img/bg-btn.jpg);
    border-radius: 5px;
    width: 100%;
    color: #fff;
    position: relative;
    text-align: center;
    -webkit-appearance: none;
    font: 16px/43px $OpenSans;
    @include greyTextShadow;
    -webkit-box-shadow: 0 1px 6px -2px #fff inset,
                0 -1px 6px -2px  #000 inset;
    box-shadow: 0 1px 6px -2px #fff inset,
                0 -1px 6px -2px  #000 inset;
    &.grey {
        border-color: #b3b3b3;
        background-image: -webkit-linear-gradient(top, #c2c2c2 0%, #aeaeae 100%);
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #c2c2c2),
            color-stop(1, #aeaeae)
        );
        background-image: linear-gradient(top, #c2c2c2 0%, #aeaeae 100%);
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
                            0 -1px 0 rgba(0,0,0,.2) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
                    0 -1px 0 rgba(0,0,0,.2) inset;
    }
    &.small {
        height: 32px;
        line-height: 28px;
        font-size: 12px;
        border-radius: 3px;
    }
    &.pale {
        border-color: #aca4ac;
        border-bottom-color: #858589;
        @include formElementGradient;
        color: #6b6b6b ;
        text-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-family: $ProximaSemiBold;
        .btnText {
            color: #999;
            opacity: 1;
            font-family: $Proxima;
        }
    }
    &.tiny {
        height: 25px;
        line-height: 22px;
        font-size: 12px;
        border-radius: 3px;
    }
    &.iconAdd,
    &.iconTick {
        position: relative;
        padding-left: 30px;
        padding-right: 10px;
        &:before {
            content: '';
            width: 12px;
            height: 12px;
            position: absolute;
            top: 50%;
            margin: -6px 0 0;
            left: 10px;
            background: url(../img/sprite.png) -120px -5px no-repeat;
        }
    }
    &.iconTick:before {
        width: 13px;
        height: 14px;
        background: url(../img/sprite.png) -137px -5px no-repeat;
    }
    .btnText {
        opacity: 0.4;
    }
}
.btnHolder {
    margin-bottom: 12px;
}
.btnSoft {
    display: inline-block;
    height: 40px;
    border: 1px solid #ababab;
    border-radius: 5px;
    width: 100%;
    color: #0b5e9d;
    position: relative;
    text-align: center;
    -webkit-appearance: none;
    font: 13px/38px $ProximaSemiBold;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #fff 50%, #cfcfcf 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.5, #fff),
        color-stop(1, #cfcfcf)
    );
    background-image: linear-gradient(top, #fff 50%, #cfcfcf 100%);
    &.small {
        height: 30px;
        line-height: 30px;
    }
    &.red {
        color: #c33;
        font-family: $ProximaBold;
    }
}

.column2 {
    @extend .clearfix;
    .column {
        width: 47%;
        float: left;
        margin-left: 6%;
        &:first-child {
            margin-left: 0;
        }
    }
}
.column3 {
    @extend .clearfix;
    .column {
        width: 32%;
        float: left;
        margin-left: 2%;
        &:first-child {
            margin-left: 0;
        }
    }
}

.roundedBox {
    -webkit-box-shadow: 0 0 3px #a6a6a6;
    box-shadow: 0 0 3px #a6a6a6;
    margin: 0 0 15px;
    border-radius: 6px;
}
.roundedBoxRow {
    border: solid #b3b3b3;
    background: #fff;
    border-width: 0 1px 1px;
    &:first-child {
        border-top-width: 1px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

.emptyBox {
    border: 1px solid #b3b3b3;
    border-radius: 6px;
    margin: 0 0 15px;
}

.mainBox {
    background: #fff;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    margin: 12px 0 20px;
    padding: 4px;
    &.img {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
    &.text {
        padding: 10px;
        font-family: $Proxima;
        color: #000;
        font-size: 14px;
        p {
            margin: 0 0 12px;
        }
        strong {
            font-family: $ProximaBold;
            font-weight: normal;
        }
    }
}
.mainBoxTitle {
    color: #cd3c3b;
    font-size: 18px;
    margin: 4px 0 12px;
    font-family: $ProximaSemiBold;
}
.mainBoxDetails {
    font-size: 16px;
}
.mainBoxInfoList {
    margin-bottom: 12px;
}
.mainBoxInfoListName {
    color: #808080;
}
.mainBoxTextList {
    margin-bottom: 12px;
    &.indent {
        margin-bottom: -6px;
    }
    &.indent .mainBoxTextListItem {
        margin: 10px 0 16px;
    }
}
.mainBoxTextListItem {
    padding-left: 8px;
    background: url(../img/bullet.png) 0 6px no-repeat;
}
.mainBoxButton {
    width: 40%;
    margin: 0 auto;
}
.mainBoxContactMap {
    font-size: 14px;
    font-family: $ProximaSemiBold;
    color: #424242;
    margin: 2px 6px 4px;
}
.mainBoxContactMapState {
    font-size: 12px;
    color: #a8a8a8;
}
.mainBoxMeta {
    color: #919191;
    margin: 0 0 12px;
}
.mainBox.text .mainBoxMeta p{
    margin: 0;
}

.schedule {
    font-size: 0;
    line-height: 0;
}
.scheduleItem {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 22%;
    margin: 0 0 10px 4%;
    text-align: center;
    line-height: 40px;
    height: 38px;
    &:nth-child(4n + 1) {
        margin-left: 0;
    }
}
.scheduleCanceled {
    text-decoration: line-through;
    height: 100%;
    color: #a8a8a8;
}
.scheduleLink {
    display: block;
    background: #fff;
    height: 100%;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.4);
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    font-family: $ProximaBold;
}
.scheduleText {
    opacity: 0.6;
}
.scheduleMoreOptions {
    display: block;
    font: 14px/1 $Proxima;
    height: 100%;
    padding: 5px 0 0;
}

.chooseMeals {
    @extend .clearfix;
    margin: 0 0 20px;
    .selectForm {
        overflow: hidden;
    }
}
.chooseMealsLabel {
    float: left;
    margin: 0 5px 0 0;
    font: 16px/32px $ProximaBold;
}

.subNav {
    height: 46px;
    margin: -10px -10px 0;
    background: url(../img/bg-subNav.jpg) repeat-x;
    border-top: 1px solid #000;
}
.subNavItem {
    float: left;
    width: 25%;
}
.subNavLink {
    display: block;
    height: 45px;
    text-align: center;
    position: relative;
    color: #a8a8a8;
    font: 13px/45px $OpenSansSemiBold;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,0) 20%, rgba(0,0,0,0) 70%, rgba(0,0,0,.2) 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(255,255,255,.05)),
        color-stop(0.2, rgba(255,255,255,0)),
        color-stop(0.7, rgba(0,0,0,0)),
        color-stop(1, rgba(0,0,0,.2))
    );
    background-image: linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,0) 20%, rgba(0,0,0,0) 70%, rgba(0,0,0,.2) 100%);
    text-shadow: 0 -1px rgba(0,0,0,.5);
    &.bookIt {
        background-color: rgba(185,42,39,.65);
        color: #fff;
    }
    &.active {
        background-color: rgba(0,0,0,.5);
        color: #fff;
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,.15) 0%, rgba(255,255,255,.05) 100%);
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgba(0,0,0,.15)),
            color-stop(1, rgba(255,255,255,.05))
        );
        background-image: linear-gradient(top, rgba(0,0,0,.15) 0%, rgba(255,255,255,.05) 100%);
    }
    &:before,
    &:after {
        content: '';
        width: 1px;
        position: absolute;
        top: 0;
        height: 100%;
        background: rgba(255,255,255,.05);
        left: 0;
    }
    &:after {
        left: auto;
        right: 0;
        background: rgba(0,0,0,.1);
    }
}

.carouselHolder {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.carousel {
    width: 9999px;
    overflow: hidden;
}
.carouselItem {
    float: left;
    width: 292px;
}
.carouselPrev,
.carouselNext {
    width: 26px;
    height: 26px;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 5px;
    margin: -13px 0 0;
    background: url(../img/sprite.png) -30px -5px no-repeat;
    z-index: 2;
}
.carouselNext {
    left: auto;
    right: 5px;
    background-position: -61px -5px;
}

.tabs {
    height: 35px;
}
.tabsItem {
    float: left;
    margin: 0 0 0 6px;
}
.tabsLink {
    display: block;
    height: 35px;
    padding: 0 25px;
    background: url(../img/bg-btn.jpg);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font: 14px/35px $OpenSans;
    @include greyTextShadow;
    color: #fff;
}
.tabsLink.active {
    background: #fff;
    color: #333;
    text-shadow: none;
    position: relative;
    z-index: 2;
}
.tabsContent {
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    position: relative;
}
.tabsContentInner {
    border-radius: 3px;
    padding: 4px 0 0;
    background: #fff;
    position: relative;
    z-index: 3;
}

.wrapper {
    min-height: 100%;
}

.hide {
  display: none;
}

/* Top Bar */
.topBar {
    background: url(../img/bg-topBar.jpg);
}
.topBarInner {
    height: 44px;
    padding: 0 70px;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.15) 0%, rgba(255,255,255,0) 45%, rgba(0,0,0,0) 55%, rgba(0,0,0,.15) 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(255,255,255,.15)),
        color-stop(0.45, rgba(255,255,255,0)),
        color-stop(0.55, rgba(0,0,0,0)),
        color-stop(1, rgba(0,0,0,.15))
    );
    background-image: linear-gradient(top, rgba(255,255,255,.15) 0%, rgba(255,255,255,0) 45%, rgba(0,0,0,0) 55%, rgba(0,0,0,.15) 100%);
    text-align: center;
    font-family: $OpenSansSemiBold;
}
.topBarLink {
    float: right;
    margin: 6px -60px 0 0;
    height: 31px;
    width: 55px;
    border: 1px solid #0e0c0d;
    line-height: 29px;
    padding: 0 5px;
    border-radius: 4px;
    color: #999;
    @include greyTextShadow;
    font-family: $OpenSans;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,.05) 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(255,255,255,.05)),
        color-stop(0.3, rgba(255,255,255,0)),
        color-stop(0.7, rgba(0,0,0,0)),
        color-stop(1, rgba(0,0,0,.05))
    );
    background-image: linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,.05) 100%);
    &:first-child {
        float: left;
        margin-right: 0;
        margin-left: -60px;
    }
    &.red {
        background-color: #971c21;
        color: #fff;
        border-color: #4b100f;
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,.2) 100%);
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgba(255,255,255,.2)),
            color-stop(0.3, rgba(255,255,255,0)),
            color-stop(0.7, rgba(0,0,0,0)),
            color-stop(1, rgba(0,0,0,.2))
        );
        background-image: linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,.2) 100%);
    }
    &.blue {
        background-color: #0b5e9d;
        color: #fff;
        border-color: #052f4e;
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,.2) 100%);
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgba(255,255,255,.2)),
            color-stop(0.3, rgba(255,255,255,0)),
            color-stop(0.7, rgba(0,0,0,0)),
            color-stop(1, rgba(0,0,0,.2))
        );
        background-image: linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,.2) 100%);
    }
}
.topBarHolder {
    overflow: hidden;
    height: 44px;
}
.topBarSubTitle {
    margin: 5px 0 0;
    color: #666;
    font-size: 12px;
    font-family: $OpenSans;
    @extend .textEllipsis;
    & + .topBarTitle {
        line-height: 1.25;
    }
}
.topBarTitle {
    font-size: 16px;
    color: #fff;
    line-height: 44px;
    @extend .textEllipsis;
}
.topBarTitleText {
    color: #999;
}

/* Content */
.content {
    margin: 10px 10px 0;
    padding-bottom: 10px;
}
.hasFooter {
    padding-bottom: 60px;
}

/* Logo */
.logo {
    width: 85px;
    height: 83px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/logo.png) 50% no-repeat;
    display: block;
    margin: 0 auto 10px;
}

/* Current Locations */
.currentLocations {
    min-height: 415px;
    .title.line {
        margin-top: 20px;
    }
}
.currentLocationsHeader {
    margin: 0 0 12px;
    font-size: 14px;
    text-align: center;
    font-family: $ProximaSemiBold;
}
.locationsButtons {
    margin: 15px 0 0;
}
.locationsButtonsItem {
    margin: 0 0 9px;
}
@include separate('.currentCity', 0, 0);
.currentCity {
    padding: 0 0 17px;
}

/* Find Your City */
@include separate('.findYourCity');
.findYourCity {
    padding-top: 20px;
    margin-bottom: 25px;
    font-family: $ProximaSemiBold;
}
.findYourCityHeader {
    margin: 0 0 20px;
    text-align: center;
    font-size: 13px;
}

/* Log In */
.logIn {
    margin-top: 20px;
    margin-bottom: 25px;
    .line {
        margin-bottom: 20px;
    }
}
.fbLoginBtn {
    background: #2c5892;
    height: 45px;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    padding: 0 10px 0 50px;
    text-align: center;
    font: 17px/45px $ProximaSemiBold;
    position: relative;
    margin: 0 0 20px;
    @include greyTextShadow;
    &:before {
        content: '';
        width: 50px;
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        border-right: 1px solid #96acc9;
        background: url(../img/sprite.png) -217px -5px no-repeat;
    }
}
.helpLink {
    text-align: center;
    font-size: 16px;
    margin: 25px 0;
}

/* Reset Password */
.resetPass {
    margin-top: 20px;
    margin-bottom: 25px;
}
.resetPassHeader {
    margin: 0 0 20px;
    min-height: 85px;
    font-size: 13px;
    text-align: center;
    font-family: $ProximaSemiBold;
}

/* Sign Up */
.signUp {
    margin-top: 20px;
    margin-bottom: 25px;
    .line {
        margin-bottom: 20px;
    }
}
.selectFormBirthdayMonth {
    width: 38%;
    float: left;
}
.selectFormBirthdayDay {
    width: 30%;
    margin-left: 2%;
    float: left;
}
.selectFormBirthdayYear {
    width: 28%;
    margin-left: 2%;
    float: left;
}

/* Contact Us */
.contactUs {
    margin-top: 20px;
    .textArea {
        height: 180px;
    }
}
.contactUsHeader {
    margin-bottom: 30px;
    font-size: 13px;
    text-align: center;
    font-family: $ProximaSemiBold;
}

/* Follow Us */
.followUs {
    margin: 0 0 25px;
}
.followUsLinks {
    text-align: center;
    margin: 25px 0 0;
}
.followUsLinksItem {
    display: inline-block;
    vertical-align: top;
    width: 41px;
    height: 41px;
    margin: 0 10px;
}
.followUsLinksLink {
    display: block;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/icon-followUs.png) no-repeat;
    &.twitter {
        background-position: -5px -5px;
    }
    &.facebook {
        background-position: -51px -5px;
    }
    &.pinterest {
        background-position: -97px -5px;
    }
}

/* Find a table */
.findaTable {
    margin-top: 15px;
    margin-bottom: 12px;
}
.findaTableHeader {
    text-align: center;
    font-size: 16px;
    font-family: $Proxima;
    color: #7b7b7b;
    margin-bottom: 15px;
    .city {
        font-family: $ProximaSemiBold;
        color: #333;
    }
}
.timing {
    margin: 10px -5px;
}
.findaTableLogOut {
    color: #6b6b6b;
    font-family: $ProximaSemiBold;
}

/* Search Results */
.searchResults {
    padding: 0 0 5px;
}
.searchResultsSubmit {
    width: 210px;
    text-align: center;
    margin: 0 auto 10px;
}

/* Results list */
.resultsTitle {
    font-size: 16px;
    margin: 0 0 4px;
    font-family: $ProximaBold;
    &.pick {
        position: relative;
        color: #cd3c3b;
        padding-left: 20px;
        &:before {
            content: '';
            width: 15px;
            height: 16px;
            position: absolute;
            top: 0;
            left: 0;
            background: url(../img/sprite.png) -305px -5px no-repeat;
        }
    }
}
.resultsList {
    margin: 0 -10px 15px;
    border-top: 1px solid #949a90;
    border-bottom: 1px solid #949a90;
    background: #fff;
}
.resultsListItem {
    padding: 10px 10px 10px 102px;
    border-top: 1px solid #ccc;
    @extend .clearfix;
    &:first-child {
        border: none;
    }
}
.resultsListItemPhoto {
    float: left;
    margin: 0 0 0 -92px;
}
.resultsListItemHolder {
    overflow: hidden;
    min-height: 65px;
}
.resultsListInfo {
    float: left;
    width: 68%;
    color: #222;
    line-height: 1.1;
}
.resultsListTitle {
    font-size: 16px;
    font-family: $ProximaBold;
}
.resultsListLocation {
    font-family: $ProximaBold;
    margin: 0 0 2px;
}
.resultsListSchedule li {
    display: inline-block;
    min-width: 36px;
    margin: 6px 0 0;
}
.resultsListMeta {
    float: right;
    width: 30%;
    text-align: right;
    color: #919191;
    font: 11px/1.4 $OpenSans;
}
.resultsListItemMeals {
    padding: 5px 0 0;
    clear: both;
    margin: 0;
}
.resultsListItemMeals .chooseMealsLabel {
    line-height: 25px;
    font-size: 12px;
}
.resultsListItemOffer {
    height: 26px;
    margin: 5px 0 0 -92px;
    padding: 0 64px 0 0;
    position: relative;
}
.resultsListItemOfferText {
    height: 100%;
    padding: 0 10px;
    font: 14px/26px $OpenSans;
    background: url(../img/bg-body.jpg);
    @extend .textEllipsis;
}
.btn.small.resultsListItemOfferBtn {
    width: 64px;
    height: 26px;
    line-height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.rating {
    width: 71px;
    height: 14px;
    background: url(../img/rating.png) -5px -5px no-repeat;
    &.one {
        background-position: -5px -24px;
    }
    &.two {
        background-position: -5px -43px;
    }
    &.three {
        background-position: -5px -62px;
    }
    &.four {
        background-position: -5px -81px;
    }
    &.five {
        background-position: -5px -100px;
    }
    &.small {
        width: 50px;
        height: 10px;
        background: url(../img/ratingSmall.png) -6px -5px no-repeat;
        margin: 2px 0 0 auto;
        &.one {
            background-position: -6px -20px;
        }
        &.two {
            background-position: -6px -35px;
        }
        &.three {
            background-position: -6px -50px;
        }
        &.four {
            background-position: -6px -65px;
        }
        &.five {
            background-position: -6px -80px;
        }
    }
}

/* Cuisines */
.cuisines {
    margin: -10px;
}

/* Edit Profile */
.editProfile {
    margin-top: 20px;
}
.filterByItems {
    font-family: $ProximaSemiBold;
    font-size: 17px;
    color: #808080;
    padding: 16px 40px;
    position: relative;
    @extend .textEllipsis;
    &.updated {
        color: #000;
    }
    &.byCuisines:before,
    &.byNeighborhoods:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 14px;
        margin: -9px 0 0;
        width: 11px;
        height: 17px;
        background: url(../img/sprite.png) -272px -5px no-repeat;
    }
    &.byNeighborhoods:before {
        width: 12px;
        height: 17px;
        background-position: -288px -5px;
    }
    @include arrow;
}

/* Filter */
.filter {
    margin-top: 12px;
}
@include separate('.sortBy');
.sortBy {
    margin: 0 -10px;
    padding: 12px 10px 0;
}
.sortByTitle {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 2px;
    font-size: 12px;
    font-family: $Proxima;
    color: #a5a5a5;
}

/* Choose Time */
.chooseTimeSelect {
    margin: 0 0 12px;
}
.chooseTimeHeader {
    margin: 20px 0 15px;
    text-align: center;
    font-size: 14px;
    color: #a5a5a5;
    text-transform: uppercase;
    font-family: $Proxima;
}
.chooseTimeHeaderButtons {
    text-align: center;
    margin: 0 0 10px;
    font-size: 15px;
    color: #919191;
}
.chooseTimeSchedule {
    margin: 0 0 40px;
}

/* Exclusive Eats */
.exclusiveEatsTitle {
    font-family: $ProximaSemiBold;
    font-size: 18px;
    margin: 0 0 12px;
}
.exclusiveEatsSelect {
    margin: 0 0 15px;
}
.bookBoxTitle {
    margin: 0 0 4px;
    text-align: center;
    font-family: $ProximaSemiBold;
}
.faqQuestion {
    display: block;
}

/* Restaurant Info */
.restaurantInfoSchedule {
    margin-bottom: 10px;
}
.exclusiveEatsOffer {
    background: url(../img/bg-topBar.jpg);
}
.exclusiveEatsOfferInner {
    padding: 6px 12px 12px;
    @extend .clearfix;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(255,255,255,0) 40%, rgba(0,0,0,0) 80%, rgba(0,0,0,.4) 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(255,255,255,.1)),
        color-stop(0.4, rgba(255,255,255,0)),
        color-stop(0.8, rgba(0,0,0,0)),
        color-stop(1, rgba(0,0,0,.4))
    );
    background-image: linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(255,255,255,0) 40%, rgba(0,0,0,0) 80%, rgba(0,0,0,.4) 100%);
}
.exclusiveEatsOfferPhoto {
    float: right;
    margin: 6px 0 0;
}
.exclusiveEatsOfferInfo {
    overflow: hidden;
}
.exclusiveEatsOfferTitle {
    color: #fff;
    margin: 0 0 4px;
    font: 16px/1.2 $OpenSansSemiBold;
}
.exclusiveEatsOfferDetails {
    width: 90px;
}
.restaurantInfoButtons {
    margin: 0 0 20px;
}
.restaurantInfoMain {
    padding: 11px;
}
.restaurantInfoList {
    margin: 20px 0 0;
    font-size: 13px;
    font-family: $OpenSans;
}
.restaurantInfoList dt{
    font-family: $OpenSansBold;
    margin: 15px 0 0;
}
.restaurantInfoList dd{
    margin: 0;
}
.restaurantInfoPrice {
    font-family: $ProximaSemiBold;
    font-size: 14px;
    color: #a8a8a8;
    letter-spacing: 4px;
}
.restaurantInfoPriceActive {
    color: #424242;
}

/* Restaurant Reviews */
.restaurantReviewsTitle {
    text-align: center;
    margin: 15px 0 0;
    font-size: 20px;
    font-family: $ProximaBold;
}
.review {
    padding: 14px 10px;
    color: #000;
    font-size: 13px;
    font-family: $OpenSans;
    border-top: 1px solid #eaeaea;
    margin: 0 -4px;
    .rating {
        margin: 0 0 6px;
    }
    &:first-child {
        padding-top: 10px;
        border: none;
    }
}
.reviewTitle {
    margin: 0 0 4px;
    font-family: $OpenSansBold;
    color: #919191;
    font-size: 16px;
}
.reviewMeta {
    color: #919191;
}

/* Restaurant Menus */
.restaurantMenusHeader {
    padding: 0 20px;
    position: relative;
}
.restaurantMenusTitle {
    text-align: center;
    margin: 15px 0 0;
    font-size: 20px;
    font-family: $ProximaBold;
}
.restaurantReviewsPrev,
.restaurantReviewsNext {
    width: 9px;
    height: 14px;
    position: absolute;
    top: 50%;
    margin: -7px 0 0;
    left: 4px;
    background: url(../img/sprite.png) -91px -5px no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
.restaurantReviewsNext {
    left: auto;
    right: 4px;
    background-position: -106px -5px;
}
.menu {
    margin: 0 0 10px;
}
.menuTitle {
    margin: 10px 6px;
    color: #cd3c3b;
    font-size: 13px;
    font-family: $OpenSansSemiBold;
    text-transform: uppercase;
}
.menuList {
    margin: 0 -4px;
    border-bottom: 1px solid #eaeaea;
}
.menuListItem {
    border-top: 1px solid #eaeaea;
    padding: 10px;
    font-size: 13px;
    color: #808080 ;
}
.menuPrice {
    float: right;
    margin: 0 0 0 10px;
    color: #333;
    font-family: $OpenSansSemiBold;
}
.menuName {
    font-size: 16px;
    color: #333;
    font-family: $OpenSansBold;
    @extend .textEllipsis;
}

/* Account */
.account {
    margin: 20px 0 25px;
}
.accountAbout {
    font: 14px/1.4 $ProximaSemiBold;
    color: #808080;
    padding: 6px 12px 12px;
}
.accountAboutUser{
    @extend .clearfix;
    margin: 0 0 12px;
}
.accountAboutUserPhoto {
    float: left;
    margin: 2px 10px 0 0;
}
.accountAboutUserInfo {
    overflow: hidden;
    line-height: 20px;
}
.accountAboutUserName {
    font-size: 16px;
    color: #333;
    margin: 0;
}
.accountAboutBox {
    margin: 0 0 12px;
}
.accountAboutTitle {
    font-size: 14px;
    color: #333;
}
.accountReservationTitle {
    text-align: center;
    color: #999;
    font-size: 15px;
    margin: 20px 0;
}
.accountReservationList {
    border-bottom: 1px solid #b3b3b3;
}
.accountReservationItem {
    border-top: 1px solid #b3b3b3;
}
.accountReservationLink {
    display: block;
    padding: 15px 25px 15px 15px;
    color: #808080;
    font-size: 14px;
    font-family: $ProximaSemiBold;
    @include arrow;
}
.accountReservation.upcoming .accountReservationSubTitle {
    color: #cd3c3b;
}
.accountReservationSubTitle {
    font-size: 20px;
    color: #333;
}

/* Reservation */
.reservationHeader {
    font-size: 14px;
    color: #808080;
    text-align: center;
    margin: 15px 0 12px;
}
.reservationTitle {
    font-size: 25px;
    color: #333;
    font-family: $ProximaBold;
    margin: 0 0 2px;
}
.reservationData {
    color: #333;
    font-size: 17px;
    font-family: $ProximaSemiBold;
    padding: 15px;
    display: block;
    .reservationSubTitle {
        text-align: left;
    }
    &.reservationDataEdit {
        position: relative;
        padding-right: 70px;
        .btnSoft {
            position: absolute;
            bottom: 20px;
            right: 10px;
            width: 50px;
        }
    }
}
a.reservationData {
    @include arrow;
}
.reservationDataTitle {
    font-size: 20px;
    margin: 0 0 8px;
    &.canceled {
        color: #666;
    }
    &.confirmed {
        color: #c33; 
    }
}
.reservationGreyText {
    color: #808080;
}
.reservationSubTitle {
    font-size: 12px;
    color: #a5a5a5;
    text-transform: uppercase;
    font-family: $Proxima;
    margin: 0 0 6px;
    text-align: center;
}
.reservationButtons {
    padding: 10px;
    @extend .clearfix;
    .reservationButtonHolder {
        width: 48%;
        float: left;
        margin-left: 4%;
        &:first-child {
            margin-left: 0;
        }
    }
}
.reservationDataButtons {
    padding: 10px 0 0;
    margin: 0 -5px;
    @extend .clearfix;
    .reservationDataButtonLeft {
        width: 68%;
        float: left;
    }
    .reservationDataButtonRight {
        width: 28%;
        float: right;
    }
}
.reservationPoints {
    @extend .clearfix;
    color: #808080;
    font: 15px/1.1 $ProximaSemiBold;
    padding: 10px 15px 6px;
}
.reservationPointsNumber {
    float: left;
    font-size: 37px;
    color: #333;
    margin: 0 10px 0 0;
}
.reservationPointsHolder {
    overflow: hidden;
    margin: 3px 0 0;
}
.reminder {
    @extend .clearfix;
    padding: 12px 10px;
    &.reminderBookIt {
        padding-left: 15px;
    }
}
.reminderLabel {
    float: left;
    margin: 6px 10px 0 0;
    font: 16px $ProximaSemiBold;
}
.reminderSwitcher {
    float: right;
}
.termsText {
    text-align: center;
    color: #a5a5a5;
    a {
        color: #333;
        text-decoration: underline;
    }
}
.cardRow {
    @extend .clearfix;
    .textField {
        font-family: $Proxima;
    }
}
.cardRowLabel {
    float: left;
    line-height: 50px;
    padding: 0 5px 0 15px;
    color: #808080;
    font-size: 16px; 
}
.cardRowLabelName {
    font-size: 13px;
}
.cardRowHolder {
    overflow: hidden;
    position: relative;
    .textField {
        padding-left: 5px;
    }
}
.roundedBoxRow .cardRowHolder .textError {
    margin-left: 5px;
}
.cardRowHolderSecurityNumber {
    padding-right: 58px ;
}
.questionHint {
    width: 34px;
    height: 30px;
    border: 1px solid #c2c2c2;
    background-color: rgba(0,0,0,.5);
    color: #0b5e9d;
    font: 14px/28px $ProximaBold;
    text-align: center;
    position: absolute;
    top: 11px;
    right: 12px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #eaeaea 70%, #cacaca 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #f2f2f2),
        color-stop(0.7, #eaeaea),
        color-stop(1, #cacaca)
    );
    background-image: linear-gradient(top, #f2f2f2 0%, #eaeaea 70%, #cacaca 100%);
}
.cards {
    padding: 15px;
    @extend .clearfix;
}
.cardsItem {
    float: left;
    width: 48px;
    margin: 0 0 0 25px;
    &:first-child {
        margin-left: 0;
    }
}
.radioCard {
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    width: 48px;
    height: 31px;
    background: url(../img/icon-cards.png) no-repeat;
    opacity: 0.3;
    &.americanExpress {
        background-position: -5px -5px;
    }
    &.visa {
        background-position: -58px -5px;
    }
    &.master {
        background-position: -111px -5px;
    }
    &.discover {
        background-position: -164px -5px;
    }
    &:checked {
        opacity: 1;
    }
}

/* Footer */
.footer {
    height: 60px;
    margin: -60px 0 0;
    font: 16px/60px $ProximaSemiBold;
    padding: 0 10px;
}
@include separate('.footer');
.footerItem {
    float: right;
    &:first-child {
        float: left;
    }
}
.footerLink {
    color: #6b6b6b;
}

/* Retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) { 

    .logo {
        background-image: url(../img/logo@2.png);
        background-size: 85px 83px;
    }
    .selectForm:before,
    .carouselPrev,
    .carouselNext,
    .restaurantReviewsPrev,
    .restaurantReviewsNext,
    .btn.iconAdd:before,
    .btn.iconTick:before,
    .checkboxesListInput,
    .checkbox,
    .datePicker:before,
    .fbLoginBtn:before,
    .filterByItems.byCuisines:before,
    .filterByItems.byNeighborhoods:before,
    .resultsTitle.pick:before,
    .searchForm:before,
    .searchFormClear {
        background-image: url(../img/sprite@2.png);
        background-size: 368px 55px;
    }
    .followUsLinksLink {
        background-image: url(../img/icon-followUs@2.png);
        background-size: 143px 51px;
    }
    .rating {
        background-image: url(../img/rating@2.png);
        background-size: 81px 119px;
    }
    .rating.small {
        background-image: url(../img/ratingSmall@2.png);
        background-size: 61px 95px;
    }
    .mainBoxTextListItem {
        background-image: url(../img/bullet@2.png);
        background-size: 3px 3px;
    }
    .radioCard {
        background-image: url(../img/icon-cards@2.png);
        background-size: 217px 41px;
    }
}