<!-- Account -->
<section class="account">
    <ul class="tabs">
        <li class="tabsItem"><a class="tabsLink active" href="#">About</a></li>
        <li class="tabsItem"><a class="tabsLink btnReservations" href="#">Reservations</a></li>
    </ul>
    <div class="tabsContent">
        <div class="tabsContentInner">
            <div class="accountAbout">
                <div class="accountAboutUser">
                    <div class="accountAboutUserPhoto"><img src="img/assets/userPhoto.jpg" alt="" /></div>
                    <div class="accountAboutUserInfo">
                        <h2 class="accountAboutUserName"><%= getFullName() %></h2>
                        <p><%= email %></p>
                        <p><%= formatPhone() %></p>
                    </div>
                </div>
                <!--<div class="accountAboutBox">
                    <h2 class="accountAboutTitle">Favorite Neighborhoods</h2>
                    <p>The Pearl</p>
                    <p>Hawthorne</p>
                    <p>NW 23rd</p>
                </div>
                <div class="accountAboutBox">
                    <h2 class="accountAboutTitle">Favorite Cuisines</h2>
                    <p>Thai</p>
                    <p>Vegan</p>
                    <p>Hot Pot</p>
                </div>-->
            </div>
        </div>
    </div>
    <div class="helpLink">
        <a href="#" class="btnEdit">Edit Profile</a>
    </div>
</section>