<!-- Edit Profile -->
<section class="form editProfile">
    <div class="row">
        <label class="labelForm">First Name</label>
        <input class="textField txtFirstName" type="text" value="<%= first_name %>" />
        <p class="textError txtFirstNameError hide">Error</p>
    </div>
    <div class="row">
        <label class="labelForm">Last Name</label>
        <input class="textField txtLastName" type="text" value="<%= last_name %>" />
        <p class="textError txtLastNameError hide">Error</p>
    </div>
    <div class="row">
        <label class="labelForm">Email</label>
        <input class="textField txtEmail" type="email" value="<%= email %>" />
        <p class="textError txtEmailError hide">Error</p>
    </div>
    <div class="row">
        <label class="labelForm">Phone</label>
        <input class="textField txtPhone" type="tel" value="<%= phone_number %>" />
        <p class="textError txtPhoneError hide">Error</p>
    </div>
</section>
<div class="row">
    <label class="labelForm">Favorites <span class="labelFormOptional">(Choose up to 3 each)</span></label>
    <div class="roundedBox">
        <div class="roundedBoxRow">
            <div class="filterByItems byNeighborhoods <%= neighborhoodsClass() %>"><%= neighborhoods() %></div>
        </div>
        <div class="roundedBoxRow">
            <div class="filterByItems byCuisines <%= cuisinesClass() %>"><%= cuisines() %></div>
        </div>
    </div>
</div>
<div class="row">
    <input class="btn btnSubmit" type="submit" value="Save" />
</div>