<!-- Edit Profile -->
<form action="#">
    <section class="form editProfile">
        <div class="row">
            <label class="labelForm">First Name</label>
            <input class="textField" type="text" value="Damian" />
        </div>
        <div class="row">
            <label class="labelForm">Last Name</label>
            <input class="textField" type="text" value="Rebman" />
        </div>
        <div class="row">
            <label class="labelForm">Email</label>
            <input class="textField hasError" type="email" value="Drebman@burnsidedigital.com" />
            <p class="textError">Error text</p>
        </div>
        <div class="row">
            <label class="labelForm">Phone</label>
            <input class="textField" type="tel" value="503-799-3877" />
        </div>
    </section>
    <div class="row">
        <label class="labelForm">Favorites <span class="labelFormOptional">(Choose up to 3 each)</span></label>
        <div class="roundedBox">
            <div class="roundedBoxRow">
                <div class="filterByItems byNeighborhoods">Favorite Neighborhoods</div>
            </div>
            <div class="roundedBoxRow">
                <div class="filterByItems byCuisines updated">American (New), Argentine, Afgan</div>
            </div>
        </div>
    </div>
    <div class="row">
        <input class="btn" type="submit" value="Save" />
    </div>
</form>