<div class="roundedBox">
    <div class="roundedBoxRow">
        <div href="#" class="reservationData">
            <h3 class="reservationDataTitle confirmed">Error</h3>
            <p><%= error %></p>
        </div>
    </div>    
    <div class="roundedBoxRow">
        <div class="reservationButtons">            
            <div class="reservationButtonHolder">
                <a href="#" class="btnSoft btnRefresh">Refresh</a>
            </div>
            <div class="reservationButtonHolder">
                <a href="#" class="btnSoft btnHome">Home</a>
            </div>
        </div>
    </div>
</div>