<div class="topBarInner">    
    <% if (typeof(leftUrl) != "undefined") { %>    
        <a class="topBarLink linkLeft <%= (typeof(leftCss) != 'undefined') ? rightCss : '' %>" href="#"><%= leftText %></a>
    <%}  else { %>
    <span/>
    <% } if (typeof(rightUrl) != "undefined") {%>
        <a class="topBarLink linkRight <%= (typeof(rightCss) != 'undefined') ? rightCss : '' %>" href="#"><%= rightText %></a>
    <% }%>
    <div class="topBarHolder">
        <% if (typeof(subTitle) != "undefined") { %>
            <p class="topBarSubTitle"><%= subTitle %></p>
        <% } %>
        <h1 class="topBarTitle"><%= title %>
            <% if (typeof(topBarTitleText) != "undefined") { %>
                <span class="topBarTitleText"><%= topBarTitleText %></span>
            <% } %>
        </h1>
    </div>
</div>