<!-- Content -->
<div class="content hasFooter">
    <!-- Log In -->
    <section class="form logIn">
        <a class="fbLoginBtn" href="#">Log In with Facebook</a>
        <h3 class="title grey line"><span class="titleText">Or</span></h3>
        <p class="textError txtError row hide">Error</p>
        <div class="row">
            <label class="labelForm">Email</label>
            <input class="textField txtEmail" type="email" value=""/>
            <p class="textError txtEmailError hide">Error</p>
        </div>
        <div class="row">
            <label class="labelForm">Password</label>
            <input class="textField txtPassword" type="password" value="" />
            <p class="textError txtPasswordError hide">Error</p>
        </div>
        <div class="row">
            <input class="btn btnSubmit" type="submit" value="Log In" />
        </div>
        <div class="helpLink">
            <a href="#" class="btnForgotPassword">Forgot Your Password?</a>
        </div>
        
    </section>
</div>