<!-- Content -->
<div class="content hasFooter">
    <!-- Log In -->
    <section class="form logIn">
        <a class="fbLoginBtn" href="#">Log In with Facebook</a>
        <h3 class="title grey line"><span class="titleText">Or</span></h3>
        <form action="#">
            <div class="row">
                <label class="labelForm">Email</label>
                <input class="textField" type="email" />
            </div>
            <div class="row">
                <label class="labelForm">Password</label>
                <input class="textField" type="password" />
            </div>
            <div class="row">
                <input class="btn" type="submit" value="Log In" />
            </div>
            <div class="helpLink">
                <a href="#" class="btnForgotPassword">Forgot Your Password?</a>
            </div>
        </form>
    </section>
</div>