<!-- Contact Us -->
<section class="form contactUs">
    <div class="contactUsHeader">
        <p>Please tell us what’s on your mind.</p>
    </div>
    <form action="#">
        <div class="row">
            <label class="labelForm">Your Name <span class="labelFormRequired">*</span></label>
            <input class="textField" type="text" />
        </div>
        <div class="row">
            <label class="labelForm">Email <span class="labelFormRequired">*</span></label>
            <input class="textField" type="email" />
        </div>
        <div class="row">
            <label class="labelForm">Subject <span class="labelFormRequired">*</span></label>
            <input class="textField" type="text" />
        </div>
        <div class="row">
            <label class="labelForm">Message <span class="labelFormRequired">*</span></label>
            <textarea class="textArea" cols="30" rows="10"></textarea>            
        </div>
        <div class="row">
            <input class="btn" type="submit" value="Submit" />
        </div>
        <div class="helpLink">
            <a href="mailto:cityeats@launchsquad.com">Press inquireies? Contact our team.</a>
        </div>
    </form>
</section>
<!-- Follow Us -->
<section class="followUs">
    <h3 class="title grey line"><span class="titleText">Follow Us</span></h3>
    <ul class="followUsLinks">
        <li class="followUsLinksItem"><a class="followUsLinksLink twitter" href="#">Twitter</a></li>
        <li class="followUsLinksItem"><a class="followUsLinksLink facebook" href="#">Facebook</a></li>
        <li class="followUsLinksItem"><a class="followUsLinksLink pinterest" href="#">Pinterest</a></li>
    </ul>
</section>