<div class="mainBox">
    <div class="restaurantInfoMain">
        <div class="column2 restaurantInfoMainTop">
            <div class="column">
                <div class="restaurantInfoPrice"><span class="restaurantInfoPriceActive">$$$</span>$</div>
                <div class="rating four"></div>
            </div>
            <div class="column">
                <a href="#" class="btn small grey">(202) 625-4488</a>
            </div>
        </div>
        <div class="column2 restaurantInfoMainBody">
            <div class="column">
                <dl class="restaurantInfoList">
                    <dt>Open For</dt>
                    <dd>Dinner; Late Night</dd>
                    <dt>Sun</dt>
                    <dd>12pm - 3pm</dd>
                    <dd>4pm - 11pm</dd>
                    <dt>Mon-Thur</dt>
                    <dd>4pm - 11pm</dd>
                    <dt>Fri-Sat </dt>
                    <dd>12pm - 3pm</dd>
                    <dd>4pm - 1am</dd>
                </dl>
            </div>
            <div class="column">
                <dl class="restaurantInfoList">
                    <dt>Cuisine</dt>
                    <dd>Mexican</dd>
                    <dt>Neighborhood</dt>
                    <dd>Georgetown</dd>
                    <dt>Accepted Payment</dt>
                    <dd>Visa, MasterCard, and Amex</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="restaurantInfoButtons column2">
    <div class="column">
        <a href="#" class="btn small iconAdd">Been Here?</a>
    </div>
    <div class="column">
        <a href="#" class="btn small iconAdd">Want to go?</a>
    </div>
</div>