<div class="resultsListItemPhoto">
    <% if(thumbImage().length > 0) { %>
        <!--<img src="/img/assets/img-1.jpg" alt="" />-->
        <img src="<%= thumbImage() %>" alt="" />
    <% } %>
</div>
<div class="resultsListItemHolder">
    <div class="resultsListInfo">
        <h3 class="resultsListTitle"><a href="#"><%= name %></a></h3>
        <p class="resultsListLocation"><%= neighborhood.name %></p>
        <p class="resultsListType"><%= cuisinesText() %></p>
        <ul class="resultsListSchedule">
            <% 
                var slotsF = slotsFormated();
                for (var i = 0; i < slotsF.length; i++) { %>            

                <%if(!slotsF[i].isEmpty) { %>
                    <li><a href="#" class="btnSlot" data-time="<%= slotsF[i].value %>"><%= slotsF[i].text %></a></li>
                <% } else { %>            
                    <li>-----</li>
                <% } 
            } %>
        </ul>
    </div>
    <div class="resultsListMeta">
        <p><%= distanceText() %></p>
        <p><%= priceSymbols() %></p>
        <div class="rating small <%= ratingClass() %>"></div>
    </div>
</div>