<div class="resultsListItemPhoto"><img src="/img/assets/img-1.jpg" alt="" /></div>
<div class="resultsListItemHolder">
    <div class="resultsListInfo">
        <h3 class="resultsListTitle"><a href="#">Acadiana</a></h3>
        <p class="resultsListLocation">Downtown</p>
        <p class="resultsListType">Southern / Soul Food</p>
        <ul class="resultsListSchedule">
            <li><a href="#">6:30</a></li>
            <li><a href="#">7:00</a></li>
            <li><a href="#">7:15</a></li>
        </ul>
    </div>
    <div class="resultsListMeta">
        <p>0.3 mi</p>
        <p>$$</p>
        <div class="rating small one"></div>
    </div>
</div>