<div class="resultsListItemPhoto"><img src="/img/assets/img-1.jpg" alt="" /></div>
<div class="resultsListItemHolder">
    <div class="resultsListInfo">
        <h3 class="resultsListTitle"><a href="#"><%= name %></a></h3>
        <p class="resultsListLocation"><%= neighborhood.name %></p>
        <p class="resultsListType"><%= cuisinesText() %></p>
        <ul class="resultsListSchedule">
            <% 
                var slotsF = slotsFromated();
                for (var i = 0; i < slotsF.length; i++) { %>            

                <%if(typeof slotsF[i] != 'undefined') { %>
                    <li><a href="#" class="btnSlot" data-time="<%= slotsF[i].value %>"><%= slotsF[i].text %></a></li>
                <% } else { %>            
                    <li>-----</li>
                <% } 
            } %>
        </ul>
    </div>
    <div class="resultsListMeta">
        <p><%= distanceText() %></p>
        <p><%= priceSymbos() %></p>
        <div class="rating small <%= ratingClass() %>"></div>
    </div>
</div>