<% if (typeof(showSearchBar) != "undefined" && showSearchBar) { %>
<div class="searchForm">
    <input class="searchField" type="text" placeholder="Search by name, cuisine, etc" />
    <a class="searchFormClear" href="#">Clear</a>
    <a class="searchFormButton" href="#"><span>&nbsp</span>;</a>
</div>
<% } if (typeof(showTimingBar) != "undefined" && showTimingBar) { %>
<% var showTimesDdl =  (typeof(showTimes) != "undefined" && showTimes); %>
<div class="<%= showTimesDdl ? 'timing column3' : 'chooseTimeSelect column2' %>">
    <div class="selectForm column">
        <select class="select partySize">
            <option value="1">1 people</option>
            <option value="2" selected>2 people</option>
            <option value="3">3 people</option>
            <option value="4">4 people</option>
            <option value="5">5 people</option>
            <option value="6">6 people</option>
            <option value="7">7 people</option>
            <option value="8">8 people</option>
        </select>
    </div>
    <input type="hidden" class="date" />
    <div class="datePicker column">Today</div>
    <% if(showTimesDdl) { %>
        <div class="selectForm column">
            <select class="select time">
                <option>7:00p</option>
            </select>
        </div>
    <% } %>
</div>

<% if(typeof(special_meals) != "undefined" && special_meals && special_meals.length > 0) { %>
    <div class="chooseMeals">
        <label class="chooseMealsLabel">Meal:</label>
        <div class="selectForm small">
            <select class="select ddlSpecialMeals">
                <% for (var i = 0; i < special_meals.length; i++) { %>
                    <option value="<%= special_meals[i].special_meal_id %>"><%= special_meals[i].name %></option>
                <% } %>
            </select>
        </div>
    </div>
<% } %>
<div class="searchResultsSubmit hide">
    <input class="btn small btnFindTable" type="submit" value="Find a Table">
</div>
<% } %>