<div class="searchForm">
    <input class="searchField" type="text" placeholder="Search by name, cusine, etc" />
</div>
<% if (typeof(showTimingBar) != "undefined" && showTimingBar) { %>
<div class="timing column3">
    <div class="selectForm column">
        <select class="select">
            <option>2 people</option>
        </select>
    </div>
    <div class="datePicker column">Today</div>
    <div class="selectForm column">
        <select class="select">
            <option>7:00p</option>
        </select>
    </div>
</div>
<% } %>