<!-- Account -->
<section class="account">
    <ul class="tabs">
        <li class="tabsItem"><a class="tabsLink btnAbout" href="#">About</a></li>
        <li class="tabsItem"><a class="tabsLink active" href="#">Reservations</a></li>
    </ul>
    <div class="tabsContent">
        <div class="tabsContentInner">
            <div class="accountReservation upcoming">
                <h2 class="accountReservationTitle">Upcoming Reservations</h2>                
                <ul class="accountReservationList upcomingReservations"></ul>
            </div>
            <div class="accountReservation">
                <h2 class="accountReservationTitle">Past Reservations</h2>
                <ul class="accountReservationList pastReservations"></ul>
            </div>
            <div class="accountReservation">
                <h2 class="accountReservationTitle">Canceled Reservations</h2>
                <ul class="accountReservationList canceledReservations"></ul>
            </div>
        </div>
    </div>
</section>