<!-- Reservation -->
<div class="reservationHeader">
    <p>Confirmation Number: <%= confirmation_code %></p>
</div>
<div class="roundedBox">
    <div class="roundedBoxRow">
        <a href="#" class="reservationData">
            <h3 class="reservationDataTitle"><%= restaurant_name %></h3>
            <p><%= getDate() %></p>
            <p><span class="reservationGreyText">for</span> <%= party_size %> people <span class="reservationGreyText">at</span> <%= getTime() %></p>
        </a>
    </div>
    <div class="roundedBoxRow">
        <div class="reservationData">
            <h4 class="reservationSubTitle">Your contact info</h4>
            <p><%= getFullName() %></p>
            <p class="reservationGreyText"><%= formatEmail() %></p>
            <p class="reservationGreyText"><%= formatPhone() %></p>
        </div>
    </div>
    <div class="roundedBoxRow">
        <div class="reservationData">
            <h4 class="reservationSubTitle">Special requests</h4>
            <p><%= special_request %></p>
        </div>
    </div>
</div>