<!-- Reservation -->
<div class="reservationHeader">
    <p>Confirmation Number: <%= confirmation_code %></p>
</div>
<div class="roundedBox">
    <div class="roundedBoxRow">
        <a href="#" class="reservationData">
            <h3 class="reservationDataTitle confirmed"><%= restaurant_name %></h3>
            <p><%= getDate() %></p>
            <p><span class="reservationGreyText">for</span> <%= party_size %> people <span class="reservationGreyText">at</span> <%= getTime() %></p>
        </a>
    </div>
    <div class="roundedBoxRow">
        <div class="reservationData">
            <h4 class="reservationSubTitle">Your contact info</h4>
            <p><%= user.getFullName() %></p>
            <p class="reservationGreyText"><%= user.email %></p>
            <p class="reservationGreyText"><%= user.formatPhone() %></p>
        </div>
    </div>
    <div class="roundedBoxRow">
        <div class="reservationData">
            <h4 class="reservationSubTitle">Special requests</h4>
            <p><%= special_request %></p>
        </div>
    </div>
    <div class="roundedBoxRow">
        <div class="reservationButtons">
            <div class="reservationButtonHolder">
                <a href="#" class="btnSoft red btnCancel">Cancel Reservation</a>
            </div>
            <div class="reservationButtonHolder">
                <a href="#" class="btnSoft btnModify">Modify Reservation</a>
            </div>
        </div>
    </div>
</div>
<div class="roundedBox">
    <div class="roundedBoxRow">
        <div class="reminder reminderBookIt">
            <p class="reminderLabel">SMS Reminder</p>
            <label class="switcher reminderSwitcher">
                <input type="checkbox" data-on="on" data-off="off" checked  class="cbSmsReminder"/>
            </label>
        </div>
    </div>
    <div class="roundedBoxRow">
        <div class="reminder reminderBookIt">
            <p class="reminderLabel">Email Reminder</p>
            <label class="switcher reminderSwitcher">
                <input type="checkbox" data-on="on" data-off="off" class="cbEmailReminder" />
            </label>
        </div>
    </div>
</div>
<a href="#" class="btn pale btnShare">Share Reservation</a>