<!-- Reservation -->
<div class="reservationHeader">
    <p>Confirmation Number: cityeats-odr-66e0-54b9</p>
</div>
<div class="roundedBox">
    <div class="roundedBoxRow">
        <a href="#" class="reservationData">
            <h3 class="reservationDataTitle confirmed">Joe’s Crab Shack</h3>
            <p>Sun,Sept 16th</p>
            <p><span class="reservationGreyText">for</span> 2 people <span class="reservationGreyText">at</span> 6:30pm</p>
        </a>
    </div>
    <div class="roundedBoxRow">
        <div class="reservationData">
            <h4 class="reservationSubTitle">Your contact info</h4>
            <p>Jonathan Smithertonson</p>
            <p class="reservationGreyText">jon@radmail.com</p>
            <p class="reservationGreyText">(405) 689-9876</p>
        </div>
    </div>
    <div class="roundedBoxRow">
        <div class="reservationData">
            <h4 class="reservationSubTitle">Special requests</h4>
            <p>I have a peanut allergy</p>
        </div>
    </div>
    <div class="roundedBoxRow">
        <div class="reservationButtons">
            <div class="reservationButtonHolder">
                <a href="#" class="btnSoft red">Cancel Reservation</a>
            </div>
            <div class="reservationButtonHolder">
                <a href="#" class="btnSoft">Modify Reservation</a>
            </div>
        </div>
    </div>
</div>
<div class="emptyBox">
    <div class="reminder">
        <p class="reminderLabel">Remind Me 24hr Before</p>
        <label class="switcher reminderSwitcher">
            <input type="checkbox" data-on="on" data-off="off" checked />
        </label>
    </div>
</div>
<a href="#" class="btn pale">Share Reservation</a>