<h2 class="mainBoxTitle">About this offer</h2>
<div class="mainBoxDetails">
    <ul class="mainBoxInfoList">
        <li><span class="mainBoxInfoListName">Price:</span> $0.00</li>
        <li><span class="mainBoxInfoListName">This offer is available:</span> February 15th through March 1st</li>
        <li><span class="mainBoxInfoListName">Amount left:</span> 10</li>
        <li><span class="mainBoxInfoListName">Time left to buy:</span> 18d 4h34m 1s</li>
    </ul>
    <p><a href="#">More about this restaurant</a></p>
</div>
<p>Lotus Blue is turning one year old and the restaurant wants to show their guests how much they appreciate the support.  Now through March 1, all diners can choose any appetizer, entree and dessert from the regular menu for just $45 per person. A complimentary cocktail is also included in this three-course meal, which is reason enough to celebrate.</p>
<p>What you'll get:</p>
<p>Any appetizer, entree and dessert for $45 A complimentary cocktail</p>