<h2 class="mainBoxTitle">About this offer</h2>
<div class="mainBoxDetails">
    <ul class="mainBoxInfoList">
        <li><span class="mainBoxInfoListName">Price:</span> $<%- price %></li>
        <li><span class="mainBoxInfoListName">This offer is available:</span> February 15th through March 1st</li>
        <li><span class="mainBoxInfoListName">Amount left:</span> 10</li>
        <li><span class="mainBoxInfoListName">Time left to buy:</span> 18d 4h34m 1s</li>
    </ul>
    <p><a href="#">More about this restaurant</a></p>
</div>
<%= description %>