<!-- Exclusive Eats -->
<h2 class="exclusiveEatsTitle">Come Celebrate Lotus Blue's One Year Anniversary</h2>
<div class="exclusiveEatsSelect column2">
    select
</div>
<div class="bookBox"></div>
<div class="mainBox img">
    <img src="/img/assets/img-large-1.jpg" alt="" />
</div>
<article class="mainBox text aboutBox">
    about
</article>
<article class="mainBox text">
    <h2 class="mainBoxTitle">The Fine Print</h2>
    <p>Any cancellations after March 6th or no show the evening of March 11th will be subject to a $125 fee per person.</p>
</article>
<a href="#" class="btn pale btnFaq">Exclusive Eats FAQ</a>