<!-- Exclusive Eats -->
<div class="mainBox text">
    <p>
        <strong class="faqQuestion">Q: What are Exclusive Eats, and how do they work?</strong>
        A: Exclusive Eats are special offers that include everything from preferred pricing to special menu items to unique dining experiences. Taking advantage of an Exclusive Eats ticket is easy: Just purchase the offer and make a reservation at the restaurant through CityEats. When you arrive at the restaurant, mention to your host or hostess that you booked an Exclusive Eats with us. No printouts or confirmation codes necessary. Please keep in mind, Exclusive Eats can be set times and dates.
    </p>
    <p>
        <strong class="faqQuestion">Q: What are the different types of Exclusive Eats tickets?</strong>
        A. There are three types of Exclusive Eats tickets: prepaid, pay at the event and those that feature complimentary appetizers and/or beverages. The prepaid ticket allows the customer to book and pay on CityEats. The pay at the event tickets allows the customer to reserve their seat on CityEats, but the customer pays when s/he attends the event. Complimentary appetizers and/or beverages allow the customer to redeem a complimentary food item when they use CityEats to book the reservation.
    </p>
    <p>
        <strong class="faqQuestion">Q. What is the “no-show” policy?</strong>
        A. When you book a reservation for an Exclusive Eats, you agree to allow the restaurant to charge your credit card in the event of a "no-show" or cancellation that is not in accordance with the restaurant’s cancellation policy. Each restaurant sets its own policy and can be contacted directly with questions.
    </p>
    <p>
        <strong class="faqQuestion">Q. Why does it say “free”?</strong>
        A. The system says “Free” when CityEats is not responsible for the monetary transaction of the Exclusive Eats offer, but functions primarily as a booking tool.
    </p>
    <p>
        <strong class="faqQuestion">Q: Do I have to be a member of CityEats to buy an Exclusive Eats offer?</strong>
        A: Yes, but membership to CityEats is free and easy. Sign up today.
    </p>
</div>