<ul class="subNav">
    <li class="subNavItem"><a class="subNavLink <%= (key == 0) ? 'active' : '' %>" href="#" data-url="info">Info</a></li>
    <li class="subNavItem"><a class="subNavLink <%= (key == 1) ? 'active' : '' %>" href="#" data-url="reviews">Reviews</a></li>
    <li class="subNavItem"><a class="subNavLink <%= (key == 2) ? 'active' : '' %>" href="#" data-url="menus">Menus</a></li>
    <li class="subNavItem"><a class="subNavLink bookIt" href="#" data-url="book-it">Book It</a></li>
</ul>