<!-- Logo -->
<strong class="logo">City Eats</strong>
<!-- Current Locations -->
<section class="currentLocations">
    <div class="currentLocationsHeader">
        <h2 class="title"><span class="titleText">Your Single Destination for Dining Out.</span></h2>
        <p>Because you are where you eat.</p>
    </div>
    <div id="currentCity">
        
    </div>
    <h3 class="title line" id="lbChooseCity"><span class="titleText">Choose Your City</span></h3>
    <ul class="locationsButtons">        
    </ul>
</section>
<!-- Find Your City -->
<section class="form findYourCity">
    
</section>