<div class="findYourCityHeader">
    <h2 class="title"><span class="titleText">Don’t see your city?</span></h2>
    <p>Give us your info, and we'll be sure to let you know when CityEats is coming to your city.</p>
</div>
<form action="#">
    <div class="row">
        <label class="labelForm">Email</label>
        <input class="textField" type="email" />        
    </div>
    <div class="row">
        <label class="labelForm">Zip Code</label>
        <input class="textField" type="text" />
    </div>
    <div class="row">
        <input class="btn pale" type="submit" value="Submit" />
    </div>
</form>