<!-- Filter -->
<section class="filter">
    <form action="#">
        <div class="row">
            <div class="roundedBox">
                <div class="roundedBoxRow">

                    <div class="filterByItems byCuisines <% if(cuisineIds.length > 0) { %> updated <% } %>"><%= cuisinesText() %></div>
                </div>
                <div class="roundedBoxRow">
                    <div class="filterByItems byNeighborhoods <% if(neighborhoodIds.length > 0) { %> updated <% } %>"><%= neighborhoodsText() %></div>
                </div>
            </div>
        </div>
        <div class="row prices">
            <ul class="radiosLine">                
                <li class="radiosLineItem">
                    <input id="price_$" type="checkbox" class="radiosLineInput" itemId="1" <% if(prices.indexOf(1) != -1) { %> checked <% } %> />
                    <label for="price_$" class="radiosLineLabel">$</label>
                </li>
                <li class="radiosLineItem">
                    <input id="price_$$" type="checkbox" class="radiosLineInput" itemId="2" <% if(prices.indexOf(2) != -1) {  %> checked <% }  %> />
                    <label for="price_$$" class="radiosLineLabel">$$</label>
                </li>
                <li class="radiosLineItem">
                    <input id="price_$$$" type="checkbox" class="radiosLineInput" itemId="3" <% if(prices.indexOf(3) != -1) {  %> checked <% }  %> />
                    <label for="price_$$$" class="radiosLineLabel">$$$</label>
                </li>
                <li class="radiosLineItem">
                    <input id="price_$$$$" type="checkbox" class="radiosLineInput" itemId="4" <% if(prices.indexOf(4) != -1) {  %> checked <% }  %> />
                    <label for="price_$$$$" class="radiosLineLabel">$$$$</label>
                </li>
            </ul>
        </div>
        <div class="sortBy">
            <h2 class="sortByTitle">Sort results by:</h2>
            <div class="row">
                <ul class="radiosLine">
                    <li class="radiosLineItem">
                        <input id="price_Distance" type="radio" class="radiosLineInput" name="sort" itemId="1" <% if(sortBy == 1) {  %> checked <% }  %> />
                        <label for="price_Distance" class="radiosLineLabel">Distance</label>
                    </li>
                    <li class="radiosLineItem">
                        <input id="price_Popular" type="radio" class="radiosLineInput" name="sort" itemId="2" <% if(sortBy == 2) {  %> checked <% }  %>/>
                        <label for="price_Popular" class="radiosLineLabel">Popular</label>
                    </li>
                    <li class="radiosLineItem">
                        <input id="price_AZ" type="radio" class="radiosLineInput" name="sort" itemId="3" <% if(sortBy == 3) {  %> checked <% }  %>/>
                        <label for="price_AZ" class="radiosLineLabel">A - Z</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <input class="btn" id="btnSubmit" type="submit" value="Apply" />
        </div>
    </form>
</section>