<!-- Reset Password -->
<section class="resetPass">
    <div class="resetPassHeader">
        <h2 class="title"><span class="titleText">Forgot your password?</span></h2>
        <p>Please enter your email address.</p>
        <p>You will be sent a link to change your password.</p>
    </div>
    <div class="form">
        <form action="#">
            <div class="row">
                <label class="labelForm">Email</label>
                <input class="textField" type="email" />
            </div>
            <div class="row">
                <input class="btn" type="submit" value="Submit" />
            </div>
            <div class="helpLink">
                <a href="#" class="btnSignUp">Sign up for free</a>
            </div>
        </form>
    </div>
</section>
