<section class="findaTable">
    <div class="findaTableHeader">
        <p>Find a Table in: <span class="city">New York</span></p>
    </div>
    <form action="#">
        <div class="timing column3">
            <div class="selectForm column">
                <select class="select">
                    <option>2 people</option>
                </select>
            </div>
            <div class="datePicker column">Today</div>
            <div class="selectForm column">
                <select class="select">
                    <option>7:00p</option>
                </select>
            </div>
        </div>
        <div class="btnHolder">
            <input class="btn btnFindTable" type="submit" value="Find Table" />
        </div>
        <div class="btnHolder">
            <a href="#" class="btn pale">Browse All</a>
        </div>
        <div class="btnHolder">
            <a href="#" class="btn pale btnChangeCity">Change City: <span class="btnText">New York</span></a>
        </div>
        <div class="btnHolder column2">
            <div class="column"><a href="#" class="btn pale btnLogIn">Log In</a></div>
            <div class="column"><a href="#" class="btn pale btnSignUp">Sign Up</a></div>
        </div>
    </form>
</section>