<section class="findaTable">
    <div class="findaTableHeader">
        <p>Find a Table in: <span class="city"><%= display_name %></span></p>
    </div>
    <div id="searchBar"></div>    
    <div class="btnHolder">
        <input class="btn btnFindTable" type="submit" value="Find Table" />
    </div>
    <div class="btnHolder">
        <a href="#" class="btn pale btnBrowseAll">Browse All</a>
    </div>
    <div class="btnHolder">
        <a href="#" class="btn pale btnChangeCity">Change City: <span class="btnText"><%= display_name %></span></a>
    </div>
    <div class="btnHolder column2">
        <div class="column"><a href="#" class="btn pale btnLogIn">Log In</a></div>
        <div class="column"><a href="#" class="btn pale btnSignUp">Sign Up</a></div>
    </div>
    
</section>