<section class="findaTable">
    <div class="findaTableHeader">
        <p>Find a Table in: <span class="city"><%= display_name %></span></p>
    </div>
    <form action="#">
        <div class="timing column3">
            <div class="selectForm column">
                <select class="select partySize">
                    <option value="1">1 people</option>
                    <option value="2" selected>2 people</option>
                    <option value="3">3 people</option>
                    <option value="4">4 people</option>
                    <option value="5">5 people</option>
                    <option value="6">6 people</option>
                    <option value="7">7 people</option>
                    <option value="8">8 people</option>
                </select>
            </div>
            <div class="datePicker column date">Today</div>            
            <div class="selectForm column">
                <select class="select time">
                    <option>7:00p</option>
                </select>
            </div>
        </div>
        <div class="btnHolder">
            <input class="btn btnFindTable" type="submit" value="Find Table" />
        </div>
        <div class="btnHolder">
            <a href="#" class="btn pale btnBrowseAll">Browse All</a>
        </div>
        <div class="btnHolder">
            <a href="#" class="btn pale btnChangeCity">Change City: <span class="btnText"><%= display_name %></span></a>
        </div>
        <div class="btnHolder column2">
            <div class="column"><a href="#" class="btn pale btnLogIn">Log In</a></div>
            <div class="column"><a href="#" class="btn pale btnSignUp">Sign Up</a></div>
        </div>
    </form>
</section>