<h3 class="bookBoxTitle">Book a Table Tonight for 2 People at:</h3>
<ul class="schedule restaurantInfoSchedule">
    <li class="scheduleItem">
        <a class="scheduleLink" href="#">6:45<span class="scheduleText">p</span></a>
    </li>
    <li class="scheduleItem">
        <a class="scheduleLink" href="#">7:00<span class="scheduleText">p</span></a>
    </li>
    <li class="scheduleItem">
        <div class="scheduleCanceled">7:15<span class="scheduleText">p</span></div>
    </li>
    <li class="scheduleItem">
        <a class="scheduleLink" href="#"><span class="scheduleMoreOptions">more<br>options</span></a>
    </li>
</ul>