<h3 class="bookBoxTitle">Book a Table Tonight for <%= party%> People at:</h3>
<ul class="schedule restaurantInfoSchedule">    
    <% 
        var slotsF = slotsFormated();
        for (var i = 0; i < slotsF.length; i++) { %>            

        <%if(!slotsF[i].isEmpty) { %>            
            <li class="scheduleItem">
                <a class="scheduleLink" data-time="<%= slotsF[i].value %>" href="#"><%= slotsF[i].text %><span class="scheduleText"><%= slotsF[i].amText %></span></a>
            </li>

        <% } else { %>            
            <li class="scheduleItem">
                <div class="scheduleCanceled"><%= slotsF[i].text %><span class="scheduleText"><%= slotsF[i].amText %></span></div>
            </li>
        <% } 
    } %>

    <li class="scheduleItem">
        <a class="scheduleLink" href="#"><span class="scheduleMoreOptions">more<br>options</span></a>
    </li>
</ul>