<h2 class="mainBoxTitle">Mike Isabella’s Modern Mexican Mecca at the Heart of Georgetown</h2>
<div class="mainBoxMeta">
    <p>By Nevin Martell</p>
    <p>Photo Credit: Elizabeth Parker</p>
</div>
<p>Mexico’s Día de los Muertos is an exuberant and heartfelt tribute to lost loved ones. Mike Isabella’s Day of the Dead inspired restaurant Bandolero, which opens in late May, is the chef’s playfully inventive homage to modern Mexican cuisine. Isabella's inspiration comes from the classic dishes but he puts his own spin on each by incorporating untraditional flavors and ingredients. . .</p>
<div class="mainBoxButton">
    <a href="#" class="btn small">Read More</a>
</div>