<div class="mainBox">
    <div class="restaurantInfoMain">
        <div class="column2 restaurantInfoMainTop">
            <div class="column">
                <div class="restaurantInfoPrice"><span class="restaurantInfoPriceActive"><%= priceSymbols() %></span><%= priceSymbolsReverse() %></div>
                <div class="rating <%= ratingClass() %>""></div>
            </div>
            <div class="column">
                <a href="#" class="btn small grey"><%= formatPhone()%></a>
            </div>
        </div>
        <div class="column2 restaurantInfoMainBody">
            <div class="column">
                <dl class="restaurantInfoList">
                    <% if (open_for && open_for.length > 0) { %>
                        <dt>Open For</dt>
                        <dd><%= open_for %></dd>
                    <% } %>                    
                    <% if (restaurant_hours.length > 0) { %>
                        <dt>Open Hours</dt>
                        <% for(var i = 0; i < restaurant_hours.length; i++) { %>
                            <dd><%= restaurant_hours[i] %></dd>
                    <% }} %>
                </dl>
            </div>
            <div class="column">
                <dl class="restaurantInfoList">                    
                    <% if (cuisine_types.length > 0) { %>
                        <dt>Cuisine</dt>                    
                        <dd><%= cuisinesText(', ')%></dd>
                    <% } %>
                    <% if (neighborhood != null) { %>
                        <dt>Neighborhood</dt>
                        <dd><%= neighborhood.name %></dd>
                    <% } %>              
                    <% if (payment_options.length > 0) { %>
                        <dt>Accepted Payment</dt>
                        <dd><%= paymentsText() %></dd>
                    <% } %>
                </dl>
            </div>
        </div>
    </div>
</div>